# 2. Condition & Loop & Input & Output
- input
- print
- if, elif, else
- while
- for
- comprehension

### input

In [1]:
value = input("insert string : ")
print(type(value), value)

insert string : dss
<class 'str'> dss

In [2]:
value = int(input("insert number : "))
print(type(value), value)

insert number : 3
<class 'int'> 3

### print

In [3]:
print("fast", "campus")

fast campus

In [4]:
print("fast" , end="\t")
print("campus")

fast	campus

In [5]:
a, b = 1234, "fastcampus"
print("number : {}, string: {}".format(a, b))

number : 1234, string: fastcampus

In [6]:
a, b = 1234, "fastcampus"
print("number : {num}, string: {string}".format(num=a, string=b))

number : 1234, string: fastcampus

### if, elif, else
- syntax

```
if condition_1:
    code_1
elif condition_2:
    code_2
else: 
    code_3
```
- condition이 True이면 해당 조건안쪽의 코드가 실행
- if만 사용가능 (그 외에는 불가능)
- elif는 여러번 사용가능

In [7]:
flag = True
if flag:
    print("if")
else:
    print("else")

if

In [8]:
flag = False
if flag:
    print("if")
else:
    print("else")

else

In [9]:
# 비교 연산자 사용
a, b = 30, 20
if a < b:
    print("a < b")
elif a == b:
    print("a == b")
else:
    print("a > b")

a > b

In [10]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and b < 10:
    print("code 1")
else:
    print("code 2")

code 2

In [11]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and not(b < 10):
    print("code 1")
else:
    print("code 2")

code 1

In [12]:
# len(a) == 0 과 같이 사용하지 않는다.
a, b = [], [1,2]
if a:
    print("a")
if b:
    print("b")

b

##### quiz
- 숫자를 입력 받아 짝수이면 even, 홀수이면 odd를 출력하는 프로그램을 작성하세요.

In [13]:
result = int(input("숫자를 입력하시오: "))
if result % 2 == 0:
    print("even")
else:
    print("odd")

숫자를 입력하시오: 3
odd

##### 삼항 연산
- syntax : (True) if (condition) else (False)

In [14]:
a, result = 10, ""
if a % 2 == 0:
    result = "even"
else:
    result = "odd"
result

'even'

In [15]:
a = 11
result = "even" if a % 2 == 0 else "odd"
result

'odd'

### while
- syntax
```
while condition:
    code
```
- condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code를 실행을 반복
- break
- continue

In [16]:
a = 3
while a > 0:
    print(a)
    a -= 1

3
2
1

In [17]:
a = 3
while a > 0:
    print(a)
    if a == 2:
        break
    a -= 1

3
2

In [18]:
a

2

In [19]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)

1
3

### for
- syntax
```
for value in list :
    code
```
- list에 있는 value를 순서대로 하나씩 꺼내서 code를 실행
- range
- zip
- enumerate

In [20]:
ls = [0,1,2,3,4]
for value in ls:
    print(value)

0
1
2
3
4

In [21]:
# range(end)
for value in range(5):
    print(value)

0
1
2
3
4

In [22]:
# range(start:end)
for value in range(2,5):
    print(value)

2
3
4

In [23]:
# range(start:end:step)
for value in range(1,5,2):
    print(value)

1
3

In [24]:
for value in range(5,1,-1): #중요!!
    print(value)

5
4
3
2

In [25]:
a = 0
for _ in range(5): # 쓰이지 않는 변수가 필요할때 '_'
    a += 1
print(a)

5

##### zip
- 2개의 리스트를 key, value 형태로 묶어주는 함수

In [26]:
# 2개의 리스트를 매핑시켜 딕셔너리 형태로 변경하세요
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

In [27]:
convert_dict = {}
for idx in range(len(subjects)):
    convert_dict[subjects[idx]] = points[idx]
convert_dict

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [28]:
converted_dict = {}
for subject, point in zip(subjects, points):
    print(subject, point)
    converted_dict[subject] = point
converted_dict

korean 100
english 80
math 90
science 60

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [29]:
tuple(zip(subjects, points)), dict(zip(subjects, points))

((('korean', 100), ('english', 80), ('math', 90), ('science', 60)),
 {'korean': 100, 'english': 80, 'math': 90, 'science': 60})

##### enumerate
- 리스트 형태의 데이터를 index와 value 값을 동시에 사용할수 있는 함수

In [30]:
# list(enumerate(range(5,10)))
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

0 korean
1 english
2 math
3 science

##### quiz
- for문을 이용하여 리스트에 있는 모든 숫자들을 더하는 코딩을 하시오
- numbers = [1,3,5,7,9]

In [31]:
# TODO
numbers = [1,3,5,7,9]
result = 0
for i in numbers:
    result += i
result

25

### comprehention
- 반복문의 결과를 바로 리스트로 만들어 주는 방법
- 리스트에 1~5까지 숫자를 대입하는 방법 (리스트만!!)

In [32]:
# method 1
ls = []
ls = [1, 2, 3, 4, 5]
print(ls)

[1, 2, 3, 4, 5]

In [33]:
# method 2
ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)
print(ls)

[1, 2, 3, 4, 5]

In [34]:
# method 3
ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

[1, 2, 3, 4, 5]

In [35]:
# method 4
ls = []
ls = [num for num in range(1,6)] # 중요!!!
print(ls)

[1, 2, 3, 4, 5]

In [36]:
# comprehention는 for문을 사용한는 것보다 속도가 빠릅니다.

In [37]:
%%time
# compare excute time
ls = []
for num in range(1,10000):
    ls.append(num)

CPU times: user 2 ms, sys: 199 µs, total: 2.2 ms
Wall time: 2.21 ms

In [38]:
%%time
# comprehention 사용
ls = []
ls = [num for num in range(1,10000)]

CPU times: user 479 µs, sys: 1 µs, total: 480 µs
Wall time: 487 µs

In [39]:
# comprehention 은 삼항연산과 함께 사용할수 있습니다.

In [40]:
# 0 ~ 10까지 숫자를 출력하고 숫자뒤에 짝수인지 홀수인지 출력하는 코드를 작성
ls = []
ls = [str(num) + ":even" if num % 2 == 0 else str(num) + ":odd" for num in range(11)]
ls

['0:even',
 '1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd',
 '10:even']

In [41]:
# 뒤에 조건문을 사용할 수 있다.
# 짝수만으로 리스트를 만들기
ls = [number for number in range(10)]
print(ls)

# for문 -> if문 -> True문 순서로 명령받음
ls = [number for number in range(10) if number % 2 == 0]
print(ls)
ls = [number + 1 for number in range(10) if number % 2 == 0]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

##### quiz
- comprehention과 삼항연산을 함께 사용하여 이름 리스트에서 lee씨 성을 가진사람은 성을 삭제하는 코드를 작성하세요.
- names = ["kim test", "park python", "lee data", "jung science", "lee school"] (입력)
- names = ["kim test", "park python", "data", "jung science", "school"] (결과)

In [22]:
# TODO

['kim test', 'park python', 'data', 'jung science', 'school']

- 내 풀이

In [42]:
names = ["kim test", "park python", "lee data", "jung science", "lee school"]
ls = [name.replace("lee", "") if "lee" in name else name for name in names]
ls

['kim test', 'park python', ' data', 'jung science', ' school']

- 강사님 풀이

In [43]:
names = ["kim test", "park python", "lee data", "jung science", "lee school"]
names = [name.split(" ")[1] if name.split(" ")[0] == "lee" else name for name in names]
ls

['kim test', 'park python', ' data', 'jung science', ' school']