# Quiz

##### 1. 5명의 이름을 입력 받아 kim인 성을 가진 사람의 수를 출력
- [성(공백)이름] 형태로만 입력(ex : park doojin)

insert name : kim sung
insert name : Kim daegu
insert name : park sangjin
insert name : lee minsung
insert name : jung sunin
2

##### solution

In [1]:
names = ""
for name in range(5):
    name = input("insert name : ")
    names += name
names.lower().count("kim")

insert name : kim sung
insert name : Kim daegu
insert name : park sangjin
insert name : lee minsung
insert name : jung sunin

2

##### 2. 2단에서 9단까지 구구단을 출력하는 프로그램을 작성

- 세로로 출력

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

##### solution

In [3]:
for i in range(2,10):
    for j in range(1,10):
        result = i * j
        print(str(i) + "*" + str(j) + "=" + str(result))
    print()

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

- 가로로 출력

2*1=2 	3*1=3 	4*1=4 	5*1=5 	6*1=6 	7*1=7 	8*1=8 	9*1=9
2*2=4 	3*2=6 	4*2=8 	5*2=10 	6*2=12 	7*2=14 	8*2=16 	9*2=18
2*3=6 	3*3=9 	4*3=12 	5*3=15 	6*3=18 	7*3=21 	8*3=24 	9*3=27
2*4=8 	3*4=12 	4*4=16 	5*4=20 	6*4=24 	7*4=28 	8*4=32 	9*4=36
2*5=10 	3*5=15 	4*5=20 	5*5=25 	6*5=30 	7*5=35 	8*5=40 	9*5=45
2*6=12 	3*6=18 	4*6=24 	5*6=30 	6*6=36 	7*6=42 	8*6=48 	9*6=54
2*7=14 	3*7=21 	4*7=28 	5*7=35 	6*7=42 	7*7=49 	8*7=56 	9*7=63
2*8=16 	3*8=24 	4*8=32 	5*8=40 	6*8=48 	7*8=56 	8*8=64 	9*8=72
2*9=18 	3*9=27 	4*9=36 	5*9=45 	6*9=54 	7*9=63 	8*9=72 	9*9=81

##### solution

In [4]:
for j in range(1, 10):
    for i in range(2, 10):
        result = i * j
        print(str(i) + "*" + str(j) + "=" + str(result), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

- 입력 받은 단수의 구구단을 출력

insert number (2-9) : 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

##### solution

In [5]:
number = int(input("insert number (2-9) : "))
for i in range(1, 10):
    result = number * i
    print("{}*{}={}".format(number, i, result))

insert number (2-9) : 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

##### 4. up down으로 숫자 맞추기 게임
- 랜덤으로 숫자(1~100)를 발생시킴
- 숫자를 입력받아 랜덤숫자가 입력받은 숫자보다 크면 Up을 출력, 작으면 Down을 출력
- 랜덤 숫자를 맞추면 몇번만에 맞췄는지 카운트를 알려줌
- 랜덤수 발생 방법
```
import random
random_number = random.randint(1,100)
```

insert number : 50
Up
insert number : 75
Up
insert number : 90
Up
insert number : 95
Up
insert number : 98
Down
insert number : 96
6

##### solution

In [6]:
import random
random_number = random.randint(1,100)

count = 0
while True:
    input_number = int(input("insert number : "))
    count += 1
    if random_number > input_number:
        print("Up")
    elif random_number < input_number:
        print("Down")
    else:
        print(count)
        break

insert number : 50
Up
insert number : 75
Down
insert number : 57
Down
insert number : 53
Up
insert number : 55
5

##### 5. 로또번호 출력
- 1~45의 6자리의 로또번호를 출력

[7, 11, 13, 16, 26, 34]

##### solution 1

In [7]:
import random

result = []
while len(result) < 6:
    random_number = random.randint(1,45)
    if random_number not in result:
        result.append(random_number)
    
result.sort()
result

[2, 5, 8, 10, 35, 37]

##### solution 2

In [8]:
import random

res = []
while len(set(res)) < 6:
    res.append(random.randint(1,45))
print(list(set(res)))

[4, 8, 10, 13, 17, 31]

##### 6. FizzBuzz
- 1에서 1씩 숫자를 입력받은 숫자까지 증가시키며 3의 배수에서는 Fizz 5의 배수에서는 Buzz 가 출력되도록 프로그램을 작성
- 3과 5의 배수에서는 FizzBuzz가 출력

insert number : 20
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

##### solution

In [10]:
input_num = int(input("insert number : "))
for i in range(1, input_num + 1):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

insert number : 20
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

##### 7. 별찍기

- 숫자를 입력 받아 아래와 같이 별찍기 1

insert number : 10
*
**
***
****
*****
******
*******
********
*********
**********

##### solution

In [11]:
num = int(input("insert number : "))
for i in range(1, num + 1):
    print("*" * i)

insert number : 5
*
**
***
****
*****

- 숫자를 입력받아 아래와 같이 별찍기 2

insert number : 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

##### solution 1

In [12]:
number = int(input("insert number : "))
space = number - 1
for star in range(1, number + 1):
    print(" " * space + "*" * star)
    space -= 1

insert number : 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

##### solution 2

In [13]:
num = int(input("insert number : "))
for i in range(1, num + 1):
    a = "{:>10}".format("*"*i)
    print(a)

insert number : 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

- 홀수를 입력 받아 아래와 같이 별을 찍으세요 3

insert number : 7
   *
  ***
 *****
*******

##### solution

In [14]:
number = int(input("insert number : "))
space = number // 2
for star in range(1, number + 1, 2):
    print(" " * space + "*" * star)
    space -= 1

#     규칙찾기
#     9   4
#     7   3
#     5   2
#     3   1

insert number : 7
   *
  ***
 *****
*******

- 홀수를 입력 받아 아래와 같이 별을 찍으세요 4

insert number : 7
*******
 *****
  ***
   *

In [21]:
number = int(input("insert number : ")) 
space = 0
for star in range(number, 0, -2):
    print(" " * space + "*" * star)
    space += 1

insert number : 7
*******
 *****
  ***
   *

- 홀수의 숫자를 입력받아 다이아몬드 형태의 별을 찍음 5

insert number : 7
   *
  ***
 *****
*******
 *****
  ***
   *

##### solution

In [22]:
number = int(input("insert number : "))

space = number // 2
for star in range(1, number, 2):
    print(" " * space + "*" * star)
    space -= 1
    
space = 0
for star in range(number, 0, -2):
    print(" " * space + "*" * star)
    space += 1

insert number : 7
   *
  ***
 *****
*******
 *****
  ***
   *

##### 8. 보어 구하기
- complement (보어)를 구하시오
- 50의 이진수는 110010
- 이진수 110010의 보어는 001101 (0을 1로바꾸고 1을 0으로 바꿈)
- 입력된 숫자의 보어를 10진수로 나타내시오

결과 예시
- 50 -> 13
- 100 -> 27

힌트
- 10진수를 2진수로 변환 : bin(n)
- 2진수를 10진수로 변환 : int(n,2)
- xor : ^

insert number : 50

13

##### solution 1

In [23]:
# XOR 비트연산자 : 자릿수에 맞게 11, 111, 1111 등과 XOR 연산을 해주어야 보어가 됨 
number = int(input("insert number : "))
data, num = 0, 0

while data < number:
    data += 2**num
    num += 1

number^data

insert number : 50

13

##### solution 2

In [27]:
# 문자열
number = int(input("insert number : "))  # 10진수를 2진수로 변환
number = bin(number)[2:]
number = ["0" if num == "1" else "1" for num in number] # 보어를 만듦
number = "".join(number) # 리스트를 문자열로 합쳐줌
number = int(number, 2)  # 2진수를 10진수로 변환
number

insert number : 50

13

##### 9. Bit Manipulation: Lonely Integer
- https://www.hackerrank.com/challenges/ctci-lonely-integer/problem
- 리스트에 하나만 있는 데이터 찾아내서 출력하기
- ls 리스트에 있는 데이터의 카운트를 세서 딕셔너리 형태로 바꿔줌
```
from collections import Counter 
d = dict(Counter(ls))
```
- [1,1,2,2,3] (입력) -> 3 (결과)
- [1,1,2,2] (입력) -> None (결과)

##### solution

In [28]:
from collections import Counter 

ls = [1,1,2,5,2,2,3]
d = dict(Counter(ls))
print(d)

# items 사용
result = []
for key, value in d.items():
    if value == 1:
        result.append(key)
        
result

{1: 2, 2: 3, 5: 1, 3: 1}

[5, 3]

##### 10. Recursion: Fibonacci Numbers
- https://www.hackerrank.com/challenges/ctci-fibonacci-numbers/problem
- 피보나치 수열 초기값 a=0, b=1 에서 a는 b값이 되고 b는 a+b가 되는 a를 나열한 수열

In [32]:
# n 번째 피보나치 수열의 숫자
n = 10
a, b = 0, 1
# TODO

0 1 1 2 3 5 8 13 21 34 55

##### solution

In [30]:
n = 10
a, b = 0, 1
for _ in range(n + 1):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55

In [25]:
# n 까지 피보나치 수열의 숫자들
n = 1000
a, b = 0, 1
# TODO

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

##### solution

In [35]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
#    print()

fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

##### 11. fibonachicken
- http://fibonachicken.herokuapp.com/

In [ ]:
사람, 치킨, 피보나치수
1  1  -
2  1  -
3  2  -
4  3
5  3  -
6  4
7  4
8  5  -
9  6
10 6
11 7
12 8
13 8  -
14 9 
15 9
16 10
17 11
18 11
19 12
20 12
21 13 -

In [36]:
def is_fib(num):
    a, b = 0, 1
    while a < num:
        a, b = b, a+b
    return a == num

def prev_fib(num):
    a, b, prev = 0, 1, 1
    while a < num:
        prev = a
        a, b = b, a+b
    return 1 if prev == 0 else prev

In [37]:
def fib_chicken(person):
    idx, ls, prev = 0, [], 1
    
    for num in range(1, person + 1):
        if is_fib(num):
            prev = prev_fib(num)
            ls.append(prev)
            idx = 0
        else: 
            number = prev + ls[idx]
            ls.append(number)
            idx += 1
            
    return ls[len(ls) - 1]

In [38]:
is_fib(20)

False

In [39]:
prev_fib(17)

13

In [40]:
fib_chicken(16)

10

In [41]:
list = [(x, y, z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if x**2 + y**2 == z**2]
list

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]